/* ---------------------------------------------------------------------------------------------------------------- */
                                            /*   BASIC SETUP */
/* --------------------------------------------------------------------------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {   outline: none;  }

html {
    background-color: rgb(156, 156, 156);
    color: rgba(27, 27, 27, 0.849);
    font-weight: 300;
    font-family: serif;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------------------------------------------------------------------------------- */
                                            /*   HEADER */
/* --------------------------------------------------------------------------------------------------------------- */

.header {
    height: 3rem;
    padding: .6rem;
    margin-bottom: 3rem;
}

.header__main-text {
    text-align: center;
    letter-spacing: .5rem;
}

h1::after {
    display: block;
    background-color: rgba(255, 255, 255, 0.418);;
    height: 2px;
    content: " ";
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
}

/* ---------------------------------------------------------------------------------------------------------------- */
                                            /*   FORM ELEMENTS */
/* --------------------------------------------------------------------------------------------------------------- */

.section__form {
    background-color: rgba(250, 250, 250, 0.774);
    min-height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.section__form::after{
    content: "";
    display: table;
    clear: both;
}

select,
input,
button {
    color: rgb(56, 56, 56);
    background-color: rgba(233, 233, 233, 0.808);
    border-radius: .2rem;
    padding: .3rem;
    margin: .5rem;
    font-size: .9rem;
    border: 1px solid rgb(158, 158, 158);
}

input[type=text] {    width: 10rem;     }

.button {
    background: rgb(185, 185, 185);
    color: rgb(20, 20, 20);
    border: 0;
    border-radius: 150px;
    padding: .4rem 1rem;
    cursor: pointer;
    transition: .2s ease-out;
}

.button:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(231, 231, 231);
}

.section__text {
    width: 50rem;
    margin: 0 auto;
}

textarea,
.encrypted {
    display: block;
    background-color: rgba(241, 241, 241, 0.74);
    color: rgb(29, 29, 29);
    width: 100%;
    min-height: 10rem;
    border: 0;
    border-radius: 4px;
    margin: 1rem auto;
    padding: .5rem;
    font-size: 1rem;
    margin-top: 0;
}

.encrypted {
    word-wrap: break-word;
    text-align: justify;
}

.cpy,
.clear,
.paste {
    margin: 0;
    cursor: pointer;
    margin-bottom: -1px;
    text-transform: uppercase;
    border: 0;
}

.cpy:hover,
.clear:hover,
.paste:hover {
    background-color: rgba(255, 255, 255, 0.904);
    color: rgb(115, 115, 250);
}


footer {
    height: 5rem;
    text-align: center;
    background-color: rgba(27, 27, 27, 0.849);
    color: rgb(134, 134, 134);
    padding: 2rem;
    margin-top: 4rem;
    font-size: .8rem;
}




@media only screen and (max-width:914px){    .section__text {    width: 94%;    }       }